<title>Delta Chapter</title>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/alertify.default.css' />
<link rel='stylesheet' href='/stylesheets/alertify.clean.css' />
<script src='/scripts/Include/jquery.min.js'></script>
<script src='/scripts/Include/knockout.js'></script>
<script src='/scripts/Include/script_load.js'></script>
<script src='/scripts/Include/alertify.min.js'></script>